# Change the values and rename this file to .env
# Add Environment Variables


SECRET_KEY=3+c0f_do%yrca+%l$i+xr^^fh42fy*#fd!zz45me6r64-icbi(
DB_ENGINE=django.db.backends.postgresql_psycopg2
DB_NAME=postgresname
DB_USER=postgresuser
DB_PASS=postgrespass
DB_SERVICE=postgres
DB_PORT=5432
