{% extends "base/basic_page.html" %}


{% block title %}Accountancy - Bills{% endblock title %}


{% block content %}

<h1>What bills do you want to see?</h1>

<form action="{% url 'accountancy:bills' %}" method="POST">
  {% csrf_token %}
  <table>
    {{ query_form.as_table }}
  </table>
  <input type="submit" value="Submit" />
</form>

{% if items %}
  <h4>bills:</h4>
  
  <div id="bill-list"></div>
  
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  {% load static %}
  <script type="text/javascript" src="{% static "accountancy/bills_view.js" %}"></script>
  
  {% regroup items by bill as items_by_bill %}
  
  <script type='text/javascript'>
  const bills = {{ "{" }}{% for item_group in items_by_bill %}
    {{ item_group.grouper.id }}: new Bill(
      "{{ item_group.grouper.account }}",
      "{{ item_group.grouper.date|date:"c" }}",
      "{{ item_group.grouper.account.currency }}",
      {{ "{" }}{% for item in item_group.list %}
        {{ item.id }}: new Item(
          "{{ item.category }}",
          "{{ item.name }}",
          "{{ item.comment }}",
          {{ item.amount }},
          "{{ item.unit }}",
          {{ item.unit_price }},
        ),
      {% endfor %}{{ "}" }},
    ),
  {% endfor %}{{ "}" }}
  
  const bill_list = new BillList(bills)
  document.getElementById('bill-list').appendChild(bill_list.element)
  </script>
  
{% endif %}
{% endblock content %}